.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.random-planet-block {
    width: 100%;
    align-self: start;
}

.size {
    height: 160px;
    width: 160px;
    margin-right: 20px;
    margin-left: 20px;
}

.detail {
    width: 400px;
}

.term {
    margin-right: 15px;
}